/* Importera typsnitt 'IM Fell English SC'  */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

/* ====================== Generell Config ====================== */
html {
    overflow-x: hidden; /* Förhindra horisontell scroll */
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100svh; /* Begränsar viewport så att inget viktigt döljs bakom UI */
    font-family: 'IM Fell English SC', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* ====================== Ljust läge Config ====================== */
.light-mode {
    background-color: #deb887;
    color: #4c2b17;
}

.light-mode a,
svg {
    color: #4c2b17;
    fill: #4c2b17;
    font-weight: bold;
}

.light-mode .carousel-cell,
.bar,
.favoritesBookCard {
    background-color: #4c2b17;
}

.light-mode .hero nav {
    background: rgba(222, 184, 135, 0.5);
    text-shadow: 1px 1px #deb887;
}

.light-mode #favoritesHeroHeader h2 {
    text-shadow: 5px 5px #deb887;
}

.light-mode #favoritesHeroHeader p {
    text-shadow: 2px 2px #deb887;
}

.light-mode .book-cover,
.book-info {
    border-color: #deb887;
    color: #deb887;
}

.light-mode .book-info h2,
h3 {
    text-shadow: 1px 1px #deb887;
}

.light-mode .removeFavoritesBtn {
    background-color: #deb887;
}

/* ====================== Mörkt läge Config ====================== */
.dark-mode {
    background-color: #4c2b17;
    color: #deb887;
}

.dark-mode a {
    color: #deb887;
}

.dark-mode svg {
    fill: #deb887; /* Denna kod fungerar bara om den är självständig av någon anledning */
}

.dark-mode .bar {
    background: #deb887;
}

.dark-mode .carousel-cell {
    background-color: #deb887;
}

.dark-mode .hero nav {
    background: rgba(76, 43, 23, 0.3);
}

.dark-mode #favoritesHeroHeader h2 {
    text-shadow: 5px 5px #4c2b17;
}

.dark-mode #favoritesHeroHeader p {
    text-shadow: 2px 2px #4c2b17;
}

.dark-mode .book-cover,
.book-info {
    border-color: #4c2b17;
    color: #4c2b17;
}

.dark-mode .favoritesBookCard {
    background-color: #deb887;
}

.dark-mode .book-info h2,
h3 {
    text-shadow: 2px 2px #4c2b17;
}

.dark-mode .removeFavoritesBtn {
    background-color: #4c2b17;
}

.dark-mode .removeFavoritesBtn img {
    filter: invert(1);
}

/* ====================== Hero Config ====================== */
#homePage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
        url(assets/images/pexels-minan1398-694740.jpg); /* Lätt mörkläggning över bilden */
    background-position: center;
    background-size: cover;
    height: 75vh;
}

#favoritesPage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
        url(assets/images/pexels-polina-zimmerman-3747468.jpg);
    background-position: center;
    background-size: cover;
    height: 75vh;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6); /* Mjukare kant */
}

#favoritesHeroHeader {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
}

#favoritesHeroHeader h2 {
    font-size: 10rem;
}

#favoritesHeroHeader p {
    font-size: 3rem;
}

/* ====================== Nav-bar Config ====================== */
.hero nav {
    display: flex;
    padding: 0 1rem 0 1rem; /* Ger utrymme längst ut på kanterna */
    height: 7rem;
    position: sticky;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6); /* Mjukare kant */
    backdrop-filter: blur(25px);
    z-index: 999; /* Se till att navbar alltid positioneras längst fram */
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo-icon {
    width: 7rem;
    height: 5rem;
}

.nav-logo {
    display: flex;
    font-size: 4rem;
}

.nav-menu li {
    display: flex;
    text-align: center;
    gap: 3rem;
}

.nav-menu a {
    font-size: 1.8rem;
    transition: 0.4s ease;
}

.nav-menu a:hover {
    color: lightgrey;
    transform: scale(1.3);
}

/* Hamburgar-meny config */
.menu-toggle {
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* Hamburgar-meny "bar" config */
.bar {
    display: block;
    width: 35px;
    height: 4px;
    margin: 6px auto;
    border-radius: 1em;
    transition: all 0.3s ease-in-out;
}

/* Ljust/mörkt-läge knapp config */
#theme-button {
    background: none;
    cursor: pointer;
    border: none;
}

#theme-button svg {
    width: 2.5rem;
    height: 2.5rem;
}

#theme-button:hover {
    transform: scale(1.3);
    transition: 0.1s ease;
}

/* Visuell feedback när användaren klickar på knappen */
#theme-button:active {
    transform: scale(0.8);
    transition: 0.1s ease;
}

.lightMode-icon {
    display: inline;
}

.darkMode-icon {
    display: none;
}

body.dark-mode .lightMode-icon {
    display: none; /* Göm ljust läge ikon när mörkt läge är aktivt */
}

body.dark-mode .darkMode-icon {
    display: inline;
}

/* ====================== (heter s2 tillfälligt) Config ====================== */
#s2 {
    height: 35rem;
    border: 5px solid purple;
    color: white;
}
.search-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

#book-search {
    width: 50%;
    padding: 0.7rem 1rem;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    border: 2px solid #4c2b17;
}

#search-btn {
    padding: 0.7rem 1rem;
    background-color: #4c2b17;
    color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 1.2rem;
}
#search-results {
    padding: 2rem;
    background-color: #deb887;
    color: #4c2b17;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
    border-top: 3px solid #deb887;
    border-bottom: 3px solid #deb887;
    transition: all 0.3s ease-in-out;
}




#search-results div {
    background-color: #4c2b17;
    color: #deb887;
    border-radius: 0.3rem;
    padding: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}


#search-results div img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

#search-results div h4 {
    font-size: 1rem;
    margin: 0.3rem 0 0 0;
}




/* Favoritknapp på korten */
.search-card {
    position: relative;
}

.favorite-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(0,0,0,0.5);
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #deb887;
    font-size: 1.2rem;
}

.favorite-btn:hover {
    transform: scale(1.2);
    background: rgba(0,0,0,0.7);
}






.carousel {
    display: flex;
    margin-top: 5rem;
    border: 5px solid red;
    overflow-x: auto;

    -ms-overflow-style: none; /* Gömmer scrollbar för Edge */
    scrollbar-width: none; /* Gömmer scrollbar för Firefox */
}

.carousel-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    animation: spin 30s infinite linear;
    padding-right: 3rem; /* Utrymme mellan karusell-grupperna */
}

#hero::-webkit-scrollbar {
    display: none; /* Gömmer scrollbar för Chrome, Safari och Opera */
}

.carousel-cell {
    height: 25rem;
    width: 15rem;
    font-size: 3rem;
    border-radius: 0.2em;
    text-align: center; /* Ändra senare? */
    align-content: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.9);
}


@keyframes spin {
    from {
        translate: 0;
    }
    to {
        translate: -100%;
    }
}

/* ====================== (heter s3 tillfälligt) Config ====================== */
#s3 {
    border: 3px solid blue;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#s3 h2 {
    font-size: 3rem;
    text-shadow: -1px -1px white;
}

#s3 p {
    font-size: 1.25rem;
}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s3-carousel {
    color: white;
    font-size: 1.5rem;
    width: 100%;
    overflow-x: auto;

    -ms-overflow-style: none; /* Gömmer scrollbar för Edge */
    scrollbar-width: none; /* Gömmer scrollbar för Firefox */

    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    gap: 1rem;
    scroll-behavior: smooth;
}

.s3-carousel::-webkit-scrollbar {
    display: none; /* Gömmer scrollbar för Chrome, Safari och Opera */
}

.s3-carousel::scroll-button(right),
.s3-carousel::scroll-button(left) {
    content: '🢡';
    border: none;
    background-color: #4c2b17;
    font-size: 2.5rem;
    color: white;
    border-top-left-radius: 35%;
    border-bottom-left-radius: 35%;
    position-area: right center;
}

.s3-carousel::scroll-button(left) {
    content: '🢠';
}

/* Sänker synligheten på scrollbar-knappen om det inte går att scrolla mer */
.s3-carousel::scroll-button(right):disabled,
.s3-carousel::scroll-button(left):disabled {
    opacity: 0.6;
}

.s3-carousel::scroll-button(right):hover,
.s3-carousel::scroll-button(left):hover {
    opacity: 0.8;
}

.carousel-box {
    flex: 0 0 15rem;
    height: 25rem;
    background-color: #4c2b17;
    border-radius: 0.2em;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
}

/* Bildstil exakt som i övre karusellen */
.carousel-box img {
    width: 80%;
    height: 70%;
    object-fit: cover;
}

/* Textstil — kategori istället för boktitel */
.carousel-box p {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    color: white;
}

/* ====================== "S4" Config ====================== */
#s4 {
    border: 3px solid red;
    height: 30rem;
}

/* ====================== Favorit-listan Config ====================== */
#favoritesList {
    height: 40rem;
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.favoritesBookCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 1.2rem;
    height: 30rem;
    width: 20rem;
    border-radius: 3rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.book-cover {
    width: 100%;
    height: 60%;
    border-radius: 3rem;
    object-fit: cover;
    border: 10px double;
}

.book-info {
    border-radius: 1rem;
    border: 6px double;
    padding: 0.5rem 1rem;
    text-align: center;
}

.book-info h2 {
    color: white;
    font-size: 2.2rem;
}

.book-info h3 {
    color: white;
    font-size: 1.5rem;
}

.removeFavoritesBtn {
    border: none;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    transition: 0.5s ease;
}

.removeFavoritesBtn:hover {
    transform: scale(1.1);
}

.removeFavoritesBtn:active {
    transform: scale(0.8);
    transition: 0.1s ease;
}

.removeFavoritesBtn img {
    width: 2rem;
    height: 2rem;
}

/* ====================== Footer Config ====================== */
footer {
    padding: 1rem;
    background: #4c2b17;
    opacity: 0.95;
}

.app-shops {
    font-size: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.app-shops-icons a {
    transition: 0.4s ease;
}

.app-shops-icons a:hover {
    transform: scale(1.3);
    color: lightgrey;
}

/* ====================== Viewport för mindre skärmar Config ====================== */
@media (max-width: 1200px) {
    .nav-logo {
        font-size: 2.8rem;
    }

    .nav-menu {
        display: none;
        position: absolute;
        height: 100vh; /* Menyn tar upp hela höjden */
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(16px);
    }

    .light-mode .hero nav {
        background: rgba(222, 184, 135, 0.7);
        backdrop-filter: none;
    }

    .light-mode .nav-menu {
        background: rgba(222, 184, 135, 0.3);
    }

    .dark-mode .hero nav {
        background: rgba(76, 43, 23, 0.7);
        backdrop-filter: none;
    }

    .nav-menu li {
        flex-direction: column;
        align-items: start;
    }

    .menu-toggle {
        display: block;
        z-index: 999;
    }

    .nav-container .nav-menu.active {
        display: flex;
    }

    .menu-toggle.active .bar:nth-child(1) {
        transform: translateY(11px) rotate(45deg);
    }

    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0; /* Gömmer den andra "bar" span elementet */
    }

    .menu-toggle.active .bar:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }
}

/*
==== Dokumentation och länkar som använts ====
https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp
https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp
https://www.w3schools.com/charsets/ref_utf_arrows_supp_c.asp
https://www.w3schools.com/howto/howto_js_slideshow.asp
https://www.w3schools.com/howto/howto_js_toggle_dark_mode.asp

==== Övrig Information ===
Kombinationen #4C2B17 (brun färg) och #DFBC8E (beige färg) gav AAA-betyg i Color Review

*/
